---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle:string = "My first Astro Project";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
